name: Deploy to Windows Server

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: [self-hosted, windows]
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build and Run Docker Containers
        shell: powershell
        env:
          DOCKER_HOST: tcp://localhost:2375
        run: |
          docker-compose down
          if (Test-Path .env) {
            docker-compose --env-file .env up -d --build
          } else {
            docker-compose up -d --build
          }
          docker image prune -f
