name: Deploy to Windows Server

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: [self-hosted, windows]
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build and Run Docker Containers
        shell: powershell
        env:
          DOCKER_HOST: tcp://localhost:2375
          NEXTAUTH_SECRET: ${{ secrets.NEXTAUTH_SECRET }}
          GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
        run: |
          docker-compose down
          docker-compose up -d --build
          docker image prune -f
